{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block dropdown %}
    <button id="id_browse_all_products"> <a href="{% url 'home' %}">Browse All Products</a></button>
    <button id="id_register_button"><a href="{% url 'register' %}">Register</a></button>
{% endblock %}

{% block body %}
    <div>
        <form id="login_form" method="post">
           <table>
                {{ form }}
            </table>
            {% csrf_token %}
            <button id="id_login_button" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}