{% extends "base.html" %}

{% block title %}
    Orders as a Seller
{% endblock %}

{% block dropdown %}
    <div class="dropdown">
        <button class="dropbtn" id="id_show_nav_button" onclick="nav_drop_down()">
            Navigation
        </button>
        <div class="dropdown-content" id="id_dropdown_content">
            <a id="id_nav_shopping_cart_link">Shopping Cart</a>
            <a id="id_nav_wishlist_link">Wishlist</a>
            <a id="id_nav_profile">My profile</a>
            <a id="id_nav_logout">Logout</a>
        </div>
    </div>
{% endblock %}

{% block body %}
<div class="sidebar_nav">
    <span id="id_category_label">Category</span>
    <a href="#">Ongoing Order</a>
    <a href="#">Previous Order</a>
</div>
    {% if order_type == "ongoing" %}
        {% for order in order_list %}
            <div>
            <span id="id_order_{{ order.id }}"> Order Number: {{ order.id }}</span>
            <button id="id_order_sent_button_{{ order.id }}">Sent</button>
            <button id="id_order_contact_buyer_button_{{ order.id }}">Contact Buyer</button>
            {% for product in order.product %}
                <img src="{% url "product_picture" product.id %}" style="width:50px;height:50px;">
                <span id="id_product_name_{{ product.id }}"> {{ product.name }}</span>
                <span id="id_product_price_{{ product.id }}"> $ {{ product.price }}</span>
            {% endfor %}
            <div>
        {% endfor %}
    {% else %}
        {% for order in order_list %}
            <div>
            <span id="id_order_{{ order.id }}"> Order Number: {{ order.id }}</span>
            {% for product in order.product %}
                <img src="{% url "product_picture" product.id %}" style="width:50px;height:50px;">
                <span id="id_product_name_{{ product.id }}"> {{ product.name }}</span>
                <span id="id_product_price_{{ product.id }}"> $ {{ product.price }}</span>
            {% endfor %}
            <div>
        {% endfor %}
    {% endif %}
{% endblock %}