{% extends "base.html" %}

{% block title %}
    Purchases
{% endblock %}

{% block dropdown %}
    <div class="dropdown">
        <button class="dropbtn" id="id_show_nav_button" onclick="nav_drop_down()">
            Navigation
        </button>
        <div class="dropdown-content" id="id_dropdown_content">
            <a id="id_nav_shopping_cart_link" href="{% url 'shopping_cart' %}">Shopping Cart</a>
                <a id="id_nav_wishlist_link" href="{% url 'wishlist' %}">Wishlist</a>
                <a id="id_nav_profile" href="{% url 'profile' %}">My profile</a>
                <a id="id_nav_logout" href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="sidebar_nav">
        <span id="id_category_label">Category</span>
        <a href="{% url 'order_buy' 1 %}">Ongoing Order</a>
        <a href="{% url 'order_buy' 0 %}">Previous Order</a>
    </div>
    <div class="products_display">
    <table class="order_table">
        {% for order in order_list %}
            <tr>
            <td>
            <p id="id_order_{{ order.id }}"> Order Number: {{ order.id }}
                {% if order.ongoing %}
            <button id="id_order_cancel_button_{{ order.id }}">
                <a href="{% url 'cancel_order' order.id %}">Cancel</a>
            </button>
            <button id="id_order_received_button_{{ order.id }}">
                <a href="{% url 'confirm_order' order.id %}">Received</a>
            </button>
                {% endif %}
            </p>
            {% for product in products %}
                {% if product in order.item.all %}
                    <p>
                <img src="{% url "photo" product.id 1 %}" style="width:50px;height:50px;">
                <span id="id_product_name_{{ product.id }}"> {{ product.product_name }}</span>
                <span id="id_product_price_{{ product.id }}"> $ {{ product.product_price }}</span>
                    {% if not order.ongoing %}
                        <a href="{% url 'review' product.id %}">
                            <button id="id_review_product_{{ product.id }}">Review Product</button>
                        </a>
                        {% endif %}
                    </p>

                {% endif %}
            {% endfor %}

            </td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}