{% extends "base.html" %}
{% load static %}

{% block title %}
    Profile for Other User
{% endblock %}

{% block dropdown %}
    <a id = "id_browse_all_products" class = "browse_products" href = "{% url 'home' %}">
        <button>Browse all Products</button>
    </a>
    {% if user.is_authenticated %}
        <div class="dropdown">
            <button class="dropbtn" id="id_show_nav_button" onclick="nav_drop_down()">
                Navigation
            </button>
            <div class="dropdown-content" id="id_dropdown_content">
                <a id="id_nav_shopping_cart_link" href="{% url 'shopping_cart' %}">Shopping Cart</a>
                <a id="id_nav_wishlist_link" href="{% url 'wishlist' %}">Wishlist</a>
                <a id="id_nav_profile" href="{% url 'profile' %}">My profile</a>
                <a id="id_nav_logout" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    {% else %}
        <a id = "id_login_link" href="{% url 'login' %}">
            <button>Login</button>
        </a>
        <a id = "id_register_link" href="{% url 'register' %}">
            <button>Register</button>
        </a>
    {% endif %}
    
{% endblock %}

{% block body %}
    <div>
        <div id = "id_profile_name">{{profile.profile_user.first_name}} {{profile.profile_user.last_name}}</div>
        {% if profile.profile_picture %}
            <img id = "id_user_picture" src="{% url 'profile_photo' profile.id %}" width="200px">  
        {% else %}
            <img id = "id_user_picture" src = "{% static 'images/no-user-image.gif' %}">
        {% endif %}

        <p>List of Products</p>
        <div class="slideshow-container">
            
            {% for p in products %}
                <div class="mySlides fade">
                    <div class="text">
                        <a id = "id_product_link_{{p.id}}" href="{% url 'product' p.id%}">{{p.product_name}}</a>
                    </div>
                    <img id = "id_product_picture1" src="{% url 'photo' p.id 1 %}" width="200px" height="200px">
                </div>
            {% endfor %}
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <script>
            var slideIndex = 1;
            showSlides(slideIndex);
        </script>

    </div>

{% endblock %}