{% extends "base.html" %}
{% load static %}
<script src="{% static 'js/base.js' %}"> </script>

{% block title %}
    Product Page
{% endblock %}

{% block dropdown %}
    <button class="browse_products">
    <a id = "id_browse_all_products" href = "{% url 'home' %}">
        Browse all Products
    </a>
    </button>
    {% if user.is_authenticated %}
        <div class="dropdown">
            <button class="dropbtn" id="id_show_nav_button" onclick="nav_drop_down()">
                Navigation
            </button>
            <div class="dropdown-content" id="id_dropdown_content">
                <a id="id_nav_shopping_cart_link" href="{% url 'shopping_cart' %}">Shopping Cart</a>
                <a id="id_nav_wishlist_link" href="{% url 'wishlist' %}">Wishlist</a>
                <a id="id_nav_profile" href="{% url 'profile' %}">My profile</a>
                <a id="id_nav_logout" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    {% else %}
        <div class='right_button'>
        <a id = "id_login_link" href="{% url 'login' %}">
            <button>Login</button>
        </a>
        <a id = "id_register_link" href="{% url 'register' %}">
            <button>Register</button>
        </a>
        </div>
    {% endif %}
    
{% endblock %}

{% block body %}
    <div>
        <p id = "id_product_name" style="font-size: 40px">{{product.product_name}}</p>
        {% if product.product_availability == False %}
            <p>Product not available</p>
        {% endif %}
        <p>
            Seller: <a id = "id_seller_name"  href="{% url 'other_profile' product.product_seller.id %}">{{product.product_seller}}</a>
        </p>
        <br><br>
        <img id = "id_product_picture1" src="{% url 'photo' product.id 1 %}" width="200px" height="250px">  
        <img id = "id_product_picture2" src="{% url 'photo' product.id 2 %}" width="200px" height="250px">  
        <img id = "id_product_picture3" src="{% url 'photo' product.id 3 %}" width="200px" height="250px">   

        <p id = "id_product_price">Price: ${{product.product_price}}</p>
        <p id = "id_product_description">{{product.product_description}}</p>


        {% if user.is_authenticated %}
            <a id = "id_add_to_wishlist" href="{% url 'add_to_wishlist' product.id %}">
                <button>Add to Wishlist</button>
            </a>
            <a id = "id_add_to_cart" href="{% url 'add_to_shopping_cart' product.id %}">
                <button>Add to Cart</button>
            </a>
        {% endif %}

    <p>Reviews:</p>
        <ul>
        {% for r in reviews %}
            <ul>
                <a id = "id_profile_link_{{r.review_reviewer.username}}" href="{% url 'profile' r.review_reviewer.id%}">{{r.review_reviewer.first_name}} {{r.review_reviewer.last_name}}</a>
                {{review_content}}
            </ul>
        {% endfor %}
        </ul>

    </div>

{% endblock %}