{% extends "base.html" %}
{% load static %}

{% block title %}
    Profile
{% endblock %}

{% block dropdown %}
    <a id = "id_browse_all_products" href = "{% url 'home' %}">
        <button>Browse all Products</button>
    </a>
    {% if user.is_authenticated %}
        <div class="dropdown">
            <button class="dropbtn" id="id_show_nav_button" onclick="nav_drop_down()">
                Navigation
            </button>
            <div class="dropdown-content" id="id_dropdown_content">
                <a id="id_nav_shopping_cart_link" href="{% url 'shopping_cart' %}">Shopping Cart</a>
                <a id="id_nav_wishlist_link" href="{% url 'wishlist' %}">Wishlist</a>
                <a id="id_nav_profile" href="{% url 'profile' %}">My profile</a>
                <a id="id_nav_logout" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    {% else %}
        <a id = "id_login_link" href="{% url 'login' %}">
            <button>Login</button>
        </a>
        <a id = "id_register_link" href="{% url 'register' %}">
            <button>Register</button>
        </a>
    {% endif %}
    
{% endblock %}

{% block body %}
    <div>
        <div id = "id_profile_name">{{first_name}} {{last_name}}</div>
        {% if profile.profile_picture %}
            <img id = "id_user_picture" src="{% url 'home' %}" width="200px">  
        {% else %}
            <img id = "id_user_picture" src = "{% static 'ecommerce_platform/no-user-image.gif' %}">
        {% endif %}

        <div id = "forms">
            <form method="post" enctype="multipart/form-data" action="{% url 'edit-profile' %}">   
                <input type="file" id="id_profile_picture" name="profile_picture" value="{{profile.profile_picture}}">
                {% for error in field.errors %} {{error}} {% endfor %}
                </br></br> 
                <input type="submit" id = "id_update_profile_button" value="Submit"> 
                {% csrf_token %}
                </br>       
            </form>    
        </div>

        <p>List of Products</p>
        {% for p in products %}
            <ul>
                <img id = "id_product_picture1" src="{% url 'product_photo' product.id %}" width="100px">  
                <a id = "id_product_link_{{p.product_id}}" href="{% url 'home' %}">{{p.product_name}}</a>
            </ul>
        {% endfor %}

        <a id = "id_add_product" href="{% url 'add_product' %}">
            <button>Add Product</button>
        </a>

    </div>

{% endblock %}