{% extends "ecommerce_platform/css/base.html" %}

{% block dropdown %}
    <div>
        <a id = "id_login_link" href="{% url 'login' %}">
            <button>Login</button>
        </a>
        <a id = "id_browse_all_products" href = "{% url 'home' %}">
            <button>Browse all Products</button>
        </a>
    </div>
{% endblock %}


{% block body %}
    <div id = "id_page_name">Register</div>
    <div id = "forms">
        <form method="post" action="{% url 'register' %}">
            <table>
                {{form}}
            </table>
            {% csrf_token %}
            <br/>
            <button id = "id_register_button" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}