{% extends 'base.html' %}

{% block title %}
    Shopping Cart
{% endblock %}

{% block dropdown %}
    {% if user.is_authenticated %}
        <div class="dropdown">
            <button class="dropbtn" id="id_show_nav_button" onclick="nav_drop_down()">
                Navigation
            </button>
            <div class="dropdown-content" id="id_dropdown_content">
                <a id="id_nav_shopping_cart_link" href="{% url 'shopping_cart' %}">Shopping Cart</a>
                <a id="id_nav_wishlist_link" href="{% url 'wishlist' %}">Wishlist</a>
                <a id="id_nav_profile" href="{% url 'profile' %}">My profile</a>
                <a id="id_nav_logout" href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block body %}

    <button>
        <a id = "id_remove" href="{% url 'home' %}">
            Remove
        </a>
    </button>
    <input type="checkbox" onClick="toggle(this)" />Select All<br/>

    <table class="product_table">
    {% for product in available_products %}
        <tr>
        <td>
        <input type="checkbox" id="product_{{id}}" name="available_product" value="{{ product.product_price }}"
               onclick="selectProduct()">
        <label for="product_{{id}}"> 
            <img class='small_img' src="{% url "photo" product.id 1 %}" style="width:100px;height:100px;">
                    <a href="{% url "product" product.id %}" style="font-size: 26px; color: rgba(45,69,92,0.86);">
                        {{ product.product_name }}</a>
                    <span class="small_price">Each Item Price: ${{ product.product_price }}</span>
            <p style="float:right; margin: 20px">
                <a id = "id_add_to_cart" href="{% url 'move_cart_to_wishlist' product.id %}">
                    <button>Add to Wishlist</button>
                </a>
                <label for="quantity">Quantity:</label>
                <input type="number" class="quantity_box" id="id_quantity_{{product.id}}" name="quantity" min="1" value="1">
            </p>
        </label><br>
        </td>
        </tr>
        
    {% endfor %}
    </table>
    <div class="checkout">
        <p><span style="margin-right: 50px">Total Price: $<span id="id_total_price">{{total_price}}</span></span>
        <button id="id_check_out_button">
            <a href="{% url 'home' %}">Check Out</a>
        </button>
    </p>
    </div>


    <br><br>

    <div>
    <p>Items not available:</p>
    <a id = "id_remove" href="{% url 'home' %}">
        <button>Clear</button>
    </a>
    <table class="product_table">
        {% for product in unavailable_products %}
            <tr>
            <td>
                <img class='small_img' src="{% url "photo" product.id 1 %}" style="width:100px;height:100px;">
                    <a href="{% url "product" product.id %}" style="font-size: 26px; color: rgba(45,69,92,0.86);">
                        {{ product.product_name }}</a>
                    <span class="small_price">Price: ${{ product.product_price }}</span>
            </td>
            </tr>

        {% endfor %}
    </table>
    </div>


{% endblock %}